<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
   <table border="1">
       <tr>
           <td>ID</td>
           <td>房屋地址</td>
           <td>价格</td>
           <td>发布时间</td>
       </tr>
        <tr th:each="house:${houseInfoList}">
            <td th:text="${house.houseId}"></td>
            <td th:text="${house.houseDesc}"></td>
            <td th:text="${house.monthlyRent}"></td>
            <td th:text="${house.publishDate}"></td>
        </tr>
   </table>
</body>
</html>